<div class="eventdescription" id="eventdescription{{ event.id }}">
	<h1>{{ event.name }}</h1>
	<h3>{{ event.datetime|date("d/m/Y | H:i") }} | {{ event.venue.name }}</h3>
	<p><strong>Featuring: </strong> 
	{% for artist in event.attendingArtists %}
		<span class="artistname">{{ artist.name }}</span>
		{% if not loop.last %}, {% endif %}
	{% endfor %}
	</p>
	<p>
	Playcount: {{ event.rank }}
	</p>
</div>