<form id="youtubecode" action="{{ path('youtubecode', {'artist_name': '', 'tracktitle': ''}) }}"></form>
<div class="button" id="previous"><img src="{{ asset('bundles/tunemapsplayer/images/previous.png') }}" alt="&lt;" /></div>
<div class="button" id="playpause"><img id="play" src="{{ asset('bundles/tunemapsplayer/images/play.png') }}" alt="Play" /><img id="pause" src="{{ asset('bundles/tunemapsplayer/images/pause.png') }}" alt="Pause" /></div>
<div class="button" id="next"><img src="{{ asset('bundles/tunemapsplayer/images/next.png') }}" alt="&gt;" /></div>
<div id="details"></div>
<div id="youtubecontainer"><div id="youtube"></div></div>