{% extends 'TuneMapsFrontBundle:Main:main.html.twig' %}

{% block container %}
<h1>Events: festivals</h1>
<div id="events">
	
	<ul id="newsstream">
		
		{% for event in events %}
		<li><a href="map" class="map">
				<div class="map_overlay"></div>
				<img src="http://maps.googleapis.com/maps/api/staticmap?center={% if event.venue.getLocation.getLattitude %}
																					 {{event.venue.getLocation.getLattitude}}, {{event.venue.getLocation.getLongitude}}
																			   {% else %} Delft {%endif%}&zoom=11&size=300x70&maptype=terrain&sensor=false" class="eventmap" alt="map" />
			</a>
			<div class="date"><span class="dateNo">{{ event.datetime.day }}</span>
			                  <br />{% if event.datetime.month == 1 %} Jan
									{% elseif event.datetime.month == 2 %} Feb
									{% elseif event.datetime.month == 3 %} Mar
									{% elseif event.datetime.month == 4 %} Apr
									{% elseif event.datetime.month == 5 %} May
									{% elseif event.datetime.month == 6 %} Jun
									{% elseif event.datetime.month == 7 %} Jul
									{% elseif event.datetime.month == 8 %} Aug
									{% elseif event.datetime.month == 9 %} Sep
									{% elseif event.datetime.month == 10 %} Oct
									{% elseif event.datetime.month == 11 %} Nov
									{% else %} Dec {%endif%}
									</div>
			<div class="event_info">
				<h2>{{ event.name }}</h2>
				<strong>Featuring</strong>
					{% for artist in event.getAttendingArtists %}
						<a href="">{{ artist.getName }}</a>,
					{% endfor %}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}